.cookie-wrapper {
  /* border: 1px dashed black; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cookie {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
  background-color: rgb(179, 130, 74);
  cursor: pointer;
  transition: 0.4s;
}

#cookie:active {
  width: 190px;
  height: 190px;
  box-shadow: 0 0 0 10px rgba(97, 70, 39, 0.116);
}
